@font-face {
    font-family: "Exo2-Medium";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
}
@font-face {
    font-family: "Exo2-MediumItalic";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
}
@font-face {
    font-family: "Exo2-Bold";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
}
@font-face {
    font-family: "Exo2-BoldItalic";
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
}

body {
    background-image: url("img/background.jpg");
}

.use {
    color: yellow;
}

.web {
    color: purple;
}

.zaz{
    color: black;
}

.zazi{
    color: black !important;
}


table {
    margin: auto;
    background: #ffffff; /* Цвет фона таблицы */
    color: black; /* Цвет текста */
    border-spacing: 12px; /* Расстояние между ячейками */
    border: 2px solid black;
}

table td {
    border: 1px solid black;
    font-size: 1em;
    padding: 10px 10px;

}
.task_1{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 1.2em;
    color: white;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}
.footer {
    position: center;
    bottom: 0;
    height: 20px;
}
.multiplication-table{
    margin-top: 20px;
    margin-bottom: 50px;
}